@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pizza Time!</h1>
    
    <br>
    <h3> <a href="/pizza/get">Make an Order</a> </h3>
</div>
