@{
  Layout = "_Layout";
  ViewData["Title"] = "Cart";
}

<h5>Your Current Pizzas</h5>
<ol>
  @foreach (var p in @Model)
  {
    <li>@p.Option</li>
      <a href="/pizza/edit">  --Edit</a>
    @* <li> <a href="/pizza/view">  --view</a> </li> *@  @* so they can edit pizza *@
  }
  
</ol>

  <br>
  <ul>
    <li> <a href="/order/preset">Add Preset Pizza</a> </li>
    <li> <a href="/order/start">Add Custom Pizza</a> </li>
    <li> <a href="/order/delete">Delete Last Pizza</a> </li>
  </ul>
  



@* <form action=""> PizzaViewModel
  display the crusts
  display the sizes
  display the toppings
</form> *@