@{
  Layout = "_Layout";
}

@* @model PizzaBox.Client.Models.PizzaViewModel *@

@* @model PizzaBox.Client.Models.PizzaViewModel *@

<h2>Pizza List</h2>
<ul>
  @foreach (var p in @Model)
  {
    <li>@p</li>
  }
</ul>

<form action=""> PizzaViewModel
  display the crusts
  display the sizes
  display the toppings
</form>